@model IEnumerable<SlackOverload.Models.Question>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="mt-2"><h1>All Questions</h1></div>

@if(!Model.Any())
{
    <p>No questions available</p>

    <p>
        <a asp-action="Create" asp-controller="Question">Create New</a>
    </p>
}
else
{
    <p>
        <a asp-action="Create" asp-controller="Question">Create New</a>
    </p>

<div class="mt-4">
    <table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Answers)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (Question item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Answers.Count)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.DisplayName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                <td>
                    <a asp-action="PostAnswer" asp-route-id="@item.Id" asp-controller="Question">Post Answer</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
    </tbody>
</table>

</div>

}