@model SlackOverload.Models.ViewModel.SortMethodVm

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="mt-2"><h1>All Questions</h1></div>

<div>
    <form asp-action="Index" method="post">
        <div class="flex flex-row justify-content-between" style="display:flex;width:100%;">

            <div class="dropdown-menu-md-end" style="margin-top:25px">
                 <select asp-for="SortMethod"
                        asp-items="Html.GetEnumSelectList<SlackOverload.Models.ViewModel.SortMethodVm.QuestionSortMethod>()"
                        style="border-radius: 5px; width:200px; height: 46px; padding: 5px" onchange="document.getElementById('SubmitButton').click()">
                </select>

                <input id="SubmitButton" hidden type="submit" value="Submit" />
                
            </div>

            
            <div class="pagination" style="width:30%; height:10%;margin-top:16px;">
                @{
                    double TotalPage = ViewBag.Questions;

                    if (TotalPage > 0)
                    {
                        <label style="text-align:center">Pages</label>
                    }

                    for (int i = 1; i <= TotalPage; i++)
                    {
                       <input asp-route-page="@i" type="submit" value="@i" style="background-color:#000058;color:#fff;width:50px;height:44px;border:none;border-radius:5px;padding:5px;margin-top:26px;margin-right:10px;" />
                    }
                }
            </div>
            

        </div>
    </form>
</div>

@if(!Model.Questions.Any())
{
    <p>No questions available</p>

    <p>
        <a asp-action="Create" asp-controller="Question" class="ask-link">Ask Question</a>
    </p>
}
else
{
    <p class="mt-2">
        <a asp-action="Create" asp-controller="Question" class="ask-link">Ask Question</a>
    </p>

<div class="mt-4">
    <table class="table">
    <thead>
        <tr>
            <th>
                 Title
            </th>
            <th>
                 Answers
            </th>
            <th>
                 User
            </th>
            <th>
                 Date Posted
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (Question item in Model.Questions)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Answers.Count)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.DisplayName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                <td>
                    <a asp-action="PostAnswer" asp-route-id="@item.Id" asp-controller="Question">Post Answer</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
            }
    </tbody>
</table>

</div>

}