@using Microsoft.AspNetCore.Identity
@using SlackOverload.Areas.Identity.Data
@model SlackOverload.Models.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-2 question-block">
    <h1>@Model.Title</h1>
    <p class="dateposted">Asked @Model.DatePosted</p>
    <hr />
    <div class="question-description">
       <p>@Model.Description</p>
    </div>
    <div class="tags">
        @foreach (QuestionTag qt in Model.QuestionTags)
        {
                <div class="tag">
                     <a asp-action="TagQuestions" asp-controller="Home" asp-route-id="@qt.Tag.Id" class="tag-button">@qt.Tag.TagName</a>
                </div>
        }
    </div>
    <div class="comment-link"><a asp-action="Comment" asp-route-id="@Model.Id" asp-controller="Question">Comment</a></div>
</div>

<div class="comment-block mt-4">
    @if (Model.QuestionComments.Count != 0)
    {
        @foreach (QuestionComment qc in Model.QuestionComments)
        {
            <div class="question-comment">
                <p>@qc.ApplicationUser.DisplayName commented at @qc.DatePosted</p>
                <hr/>
                <p>@qc.Comment</p>
            </div>
        }
    }
</div>


<div class="answer">
    <h4>Answers</h4>
    <hr />

    @foreach (Answer a in Model.Answers)
    {
        <div class="mt-4 questionAnswer-block">
            <p class="questionAnswer-dateposted">Answered @a.DatePosted</p>
            @if(ViewBag.CorrectAnswer == a.Id)
            {
               <p class="correct-icon"><i class="fa-solid fa-check"></i></p> 
            }
            <hr />
            <div class="questionAnswer-description">
                <p>@a.QuestionAnswer</p>
            </div>
            <div class="questionAnswer-user">
                    <p>Answered By @a.ApplicationUser.DisplayName </p> 
            </div>
            <div class="questionAnswer-links">
                <div class="comment-link"><a asp-action="Comment" asp-route-id="@a.Id" asp-controller="Answer">Comment</a></div>

                @if (@ViewBag.HasCorrectAnswer == null)
                {
                   <div class="markcorrectanswer-link"><a asp-action="MarkAnswer" asp-route-id="@a.Id" asp-controller="Answer">Mark As Correct</a></div>
                }
            </div>
        </div>
    }
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">View Personal Questions</a> | <a asp-action="Index" asp-controller="Home">Back To Home Page</a>
</div>

